<style>
  nav {
    position: absolute;
    top: 10px;

    display: flex;
    justify-content: start;
    padding-left: 2rem;
  }

  a {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 32px;
  }
</style>

<nav>
  <!-- <div>
    <a href="/">Hello, World 👋</a>
    <a href="/slack">Slack: where everything happens</a>
    <a href="/ysws">YSWS events and in-person hackathons!</a>
    <a href="/services">Services and developer tools</a>
    <a href="/mascots">Mascots and LOREEEEE!</a>
    <a href="/activities">Activities with SAD</a>
    <a href="/funfacts">Fun Facts and history!</a>
  </div> -->
  <a href="/">Readme</a>
</nav>
