---
const { frontmatter } = Astro.props;
import Navbar from "../components/navbar.astro";
import "../global.css";
import nutshellUrl from "../assets/nutshell.js?url";
---

<!doctype html>
<html lang="en">
  <head>
    <script
      defer
      src="https://umami.eofr.dev/script.js"
      data-website-id="68e539ce-a587-4b3d-834a-097a0886158f"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>README // {frontmatter.title}</title>
  </head>
  <body>
    <a href="https://hackclub.com/"
      ><img
        style="position: fixed; top: 0; left: 10px; border: 0; width: clamp(1.5rem, 30vw, 170px); z-index: 999;"
        src="https://assets.hackclub.com/flag-orpheus-top.svg"
        alt="Hack Club"
      /></a
    >
    <Navbar />
    <main>
      <h1>{frontmatter.title}</h1>
      <slot />
    </main>
  </body>
</html>

<!-- Custom nutshell.js with the 'remove css classes' thing applied. Cus I need codeblocks from Prism -->
<script is:inline src={nutshellUrl}></script>
